* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "sans-serif";
}

body {
  width: 100vw;
  height: 100vh;
  background: url(../assets/mainBG2.63df8377db5da6ef81aa.png);
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  overflow-x: hidden;
}

h5 {
  color: #2E2C8A;
  font-weight: normal;
  margin-top: 2px;
}

.btn {
  display: none;
  background-color: #6E6BFF;
  padding: 0.4rem 0.8rem;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #00000029;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo-text {
  color: #fff;
  font-size: 28px;
  font-weight: normal;
  margin-left: 8px;
}

.container-main {
  display: grid;
}

.text-describe {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 2.2rem 2.2rem 3rem;
}
.text-describe .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-describe .sub-title {
  font-size: 20px;
}

article {
  display: grid;
}
article .container-phone {
  display: flex;
  justify-content: center;
  max-width: 170px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
article .container-phone img {
  max-width: 200px;
  max-height: 406px;
}

.line-break {
  margin-left: 5px;
}

.text-describe {
  grid-area: text-describe;
}

.container-phone {
  grid-area: container-phone;
}

article {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text-describe text-describe" "container-phone container-text";
}

.container-text {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: flex-end;
  margin-right: 2rem;
  grid-area: container-text;
}

.text-article {
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
  text-align: right;
  height: 20%;
}
.text-article :nth-child(1) {
  margin-top: 20px;
}

.download-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
.download-app p {
  color: #2E2C8A;
  font-size: 600;
  font-style: italic;
}
.download-app .buttons-download {
  display: flex;
  justify-content: space-between;
}
.download-app .buttons-download img {
  width: auto;
  height: 23px;
}

.container-video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F9F9F9;
  padding: 3rem 2rem;
}
.container-video h3, .container-video p {
  color: #2E2C8A;
  margin-bottom: 10px;
}

footer {
  background-color: #3F51B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}
footer .terms-policy {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
footer .terms-policy .policy {
  opacity: 70%;
  margin-right: 10px;
}
footer .terms-policy .policy-privacy {
  opacity: 70%;
  color: #fff;
  opacity: 70%;
  text-decoration: none;
}
footer .terms-policy .terms {
  opacity: 70%;
  color: #fff;
  opacity: 70%;
  text-decoration: none;
}
footer .terms-policy .policy:hover {
  opacity: 100%;
  cursor: pointer;
}
footer .terms-policy .terms:hover {
  opacity: 100%;
  cursor: pointer;
}
footer .tablinks {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .download-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
footer .download-app p {
  color: #fff;
  font-size: 600;
}
footer .download-app :first-child {
  margin-right: 10px;
}
footer .logo {
  padding: 2rem 0 1rem;
}
footer .buttons-download {
  margin-top: 5px;
}
footer .buttons-download img {
  width: auto;
  height: 20px;
}
footer .buttons-download :last-child {
  width: 80px;
}
footer #copyright {
  opacity: 70%;
  margin-top: 1rem;
  font-size: 0.8rem;
}

/* Modal Content */
.modal-content {
  border-radius: 30px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.modal-content p {
  color: #2E2C8A;
}
.modal-content h3 {
  color: #2E2C8A;
}

/* The Close Button */
.close {
  display: flex;
  top: 15px;
  left: 346px;
  width: 30px;
  height: 30px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  color: #2E2C8A;
  font-size: 28px;
  font-weight: bold;
}
.close :hover,
.close :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close ::after {
  content: "asa";
  width: 20px;
  height: 20px;
  background-color: #000;
}

@media only screen and (max-width: 320px) {
  .container-text {
    display: grid;
  }

  .download-app .buttons-download {
    display: block;
    padding-right: 10px;
  }

  .text-article {
    margin-top: 2.8rem;
    text-align: right;
    height: 20%;
  }
  .text-article .line-break {
    margin-top: 20px;
  }

  article .container-phone {
    max-width: 100px;
    margin-right: 1.5rem;
  }

  .btn {
    padding: 0.2rem 0.6rem;
    font-size: 14px;
  }

  .text-describe {
    margin: 2.2rem 2.2rem 2rem;
  }

  .container-text {
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 414px) {
  .container-text {
    margin: 0 2rem 0 0.8rem;
  }

  .download-app .buttons-download {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 360px) {
  .container-text {
    margin-right: 1.5rem;
  }
}
@media only screen and (min-width: 555px) {
  .download-app {
    padding-bottom: 0;
  }
  .download-app p {
    text-align: right;
  }
  .download-app .buttons-download {
    justify-content: flex-end;
  }
  .download-app .buttons-download img {
    width: auto;
    height: 35px;
  }
  .download-app .buttons-download :first-child {
    margin-right: 10px;
  }

  .container-text {
    margin-right: 2rem;
  }
  .container-text p {
    font-size: 17px;
  }

  .text-article {
    height: 12%;
  }

  .container-video iframe {
    height: 280px;
  }

  article .container-phone {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 1.5rem 0 2rem;
  }
}
@media only screen and (min-width: 640px) {
  .container-text {
    display: grid;
    margin-right: 2rem;
    grid-template-columns: 1fr;
  }
  .container-text .container-btn {
    display: flex;
    justify-content: flex-end;
    height: 30px;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .container-video iframe {
    height: 326px;
  }
}
@media only screen and (min-width: 700px) {
  .btn {
    font-size: 19px;
  }

  .container-video h3 {
    font-size: 30px;
  }
  .container-video iframe {
    height: 377px;
  }
  .container-video p {
    font-size: 20px;
  }

  .text-article .secondary-text :nth-child(1) {
    margin-top: 0;
  }
  .text-article p {
    font-size: 20px;
  }

  .download-app {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .download-app .buttons-download p {
    font-size: 20px;
  }
  .download-app .buttons-download img {
    width: auto;
    height: 40px;
  }

  article .container-phone {
    max-height: 408px;
  }

  .secondary-text {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  .container-text {
    display: grid;
    margin-right: 2rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 150px 163px;
  }
}
@media only screen and (min-width: 800px) {
  header {
    padding-right: 4rem;
  }

  .container-text {
    margin-right: 4rem;
  }

  .container-video iframe {
    height: 441px;
  }

  article {
    margin-bottom: 0;
  }

  footer {
    flex-direction: row;
  }
  footer .logo-terms {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 20px;
  }
  footer .buttons-download p {
    font-size: 20px;
  }
  footer .buttons-download img {
    width: auto;
    height: 30px;
  }

  .logo-terms {
    grid-area: logo-terms;
  }

  .download-copyright {
    grid-area: download-copyright;
  }

  .copyright {
    text-align: center;
    grid-area: copyright;
  }

  .container-footer {
    max-width: 700px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo-terms download-copyright" "copyright copyright";
  }

  footer .logo {
    padding: 2rem 0 0.3rem 0rem;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    padding: 2rem 4rem;
  }

  .text-describe {
    margin: 2.2rem 2.2rem 3rem 4rem;
  }

  .container-video {
    padding: 3rem 10rem;
  }
  .container-video iframe {
    height: 400px;
  }
}
@media only screen and (min-width: 1250px) {
  .modal ::-webkit-scrollbar-track {
    background-color: #c4c4c4;
    border-radius: 0 30px 30px 0;
  }
  .modal ::-webkit-scrollbar {
    width: 15px;
    background: #c4c4c4;
    border-radius: 0 30px 30px 0;
  }
  .modal ::-webkit-scrollbar-thumb {
    background: #3F51B5;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-track {
    background-color: #c4c4c4;
    border-radius: 30px;
  }

  ::-webkit-scrollbar {
    width: 15px;
    background: #c4c4c4;
  }

  ::-webkit-scrollbar-thumb {
    background: #3F51B5;
    border-radius: 30px;
  }

  .download-app {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .download-app .buttons-download .btn-apple {
    margin-right: 0;
  }

  .container-btn {
    display: none;
  }

  article .container-phone {
    max-height: 818px;
  }
  article .container-phone img {
    max-width: 400px;
    max-height: 818px;
  }

  header {
    padding: 2rem 5rem;
  }

  .logo img {
    width: 44px;
    height: 48px;
  }
  .logo .logo-text {
    font-size: 40px;
  }

  .container-main {
    margin-top: 5rem;
  }

  article {
    display: grid;
    padding-left: 3rem;
    margin-bottom: 3rem;
  }
  article .container-phone {
    max-height: 818px;
  }
  article .container-phone {
    justify-content: flex-start;
  }
  article .btn {
    padding: 0.8rem 1.2rem;
  }

  .text-describe {
    margin: 2.2rem 2.2rem 3rem 1rem;
    grid-area: text-describe;
  }
  .text-describe .title {
    font-size: 40px;
  }
  .text-describe .sub-title {
    padding-right: 170px;
    font-size: 40px;
  }

  .text-article p {
    color: #2E2C8A;
  }
  .text-article .secondary-text p {
    font-size: 26px;
  }
  .text-article .secondary-text :first-child {
    margin-top: 0;
  }

  .container-video {
    padding: 3rem 15rem;
  }
  .container-video iframe {
    height: 499px;
  }

  .container-phone {
    grid-area: container-phone;
  }

  .container-text {
    margin-top: 5rem;
    grid-area: container-text;
  }
  .container-text p {
    font-size: 22px;
  }

  article {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "container-phone text-describe" "container-phone container-text";
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(46, 44, 138, 0.5);
  }

  .content-close {
    display: flex;
    justify-content: flex-end;
  }

  .tablinks {
    cursor: pointer;
  }

  .tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(46, 44, 138, 0.5);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .tab a {
    color: #2E2C8A;
    font-size: 15px;
  }
  .tab .content-terms {
    margin-top: 10px;
    width: 100%;
  }

  /* Modal Content */
  .modal-content {
    padding: 30px 70px;
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
  }
  .modal-content p {
    color: #2E2C8A;
  }
  .modal-content h3 {
    color: #2E2C8A;
  }

  footer #copyright {
    opacity: 70%;
    margin-top: 4.8rem;
  }

  footer .download-app {
    margin-top: 50px;
    padding-bottom: 0;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-footer {
    max-width: 1200px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo-terms copyright download-copyright";
  }
}
@media only screen and (min-width: 1599px) {
  body {
    width: 100vw;
    height: 100vh;
    background: url(../assets/mainBG2.63df8377db5da6ef81aa@2x.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vw;
    color: #fff;
    overflow-x: hidden;
  }

  header {
    padding: 2rem 10rem;
  }

  .container-main {
    padding: 0 7rem 0 4.5rem;
  }

  .container-video {
    padding: 3rem 29rem;
  }

  .container-footer {
    max-width: 1550px;
    width: 1550px;
  }

  .container-text .container-btn {
    display: none;
  }

  .download-app {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(46, 44, 138, 0.5);
  }

  .content-close {
    display: flex;
    justify-content: flex-end;
  }

  .tablinks {
    cursor: pointer;
  }

  .tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(46, 44, 138, 0.5);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .tab a {
    color: #2E2C8A;
    font-size: 15px;
  }
  .tab .content-terms {
    margin-top: 10px;
    width: 100%;
  }

  /* Modal Content */
  .modal-content {
    border-radius: 15px;
    background-color: #fefefe;
    margin: auto;
    padding: 30px 70px;
    border: 1px solid #888;
    width: 80vw;
    height: 80vh;
  }
  .modal-content p {
    color: #2E2C8A;
  }
  .modal-content h3 {
    color: #2E2C8A;
  }

  /* The Close Button */
  .close {
    display: flex;
    top: 15px;
    left: 346px;
    width: 30px;
    height: 30px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    color: #2E2C8A;
    font-size: 28px;
    font-weight: bold;
  }
  .close :hover,
.close :focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .close ::after {
    content: "asa";
    width: 20px;
    height: 20px;
    background-color: #000;
  }
}

/*# sourceMappingURL=style.css.map */
